.h2 {
    background-color: azure;
}
<<<<<<< HEAD

=======
>>>>>>> c1e7c19cbb8929acfbf9b857d882089a250672dd

.h1{
    background:white;
    margin-top:40px;
}

.p{
    background:blue;
    break-after: initial;
}

h3{
    background:blue;
}
